.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.headerImage{
    object-fit: cover;
    height:100%;
    width: 100%;
}

body {
    background-color: gray;
}

header {
    background-image:url("images/food1.jpg");
    background-position:center;
    background-size:cover;
    height: 118px;
}

nav {
    background-color: red;
    height: 40px;
}

main {
    background-color: pink;
    height: 400px;
}

footer {
    background-color: green;
    height: 100px;
}