.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.headerImage{
    object-fit: cover;
    height:100%;
    width: 100%;
}

.map {
    padding-bottom: 10px;
}

head{
    position:center;
}

body {
    /*
    background-image:url("images/food1.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    */
    background-color: black;
    content:"";
    background:rgba(0,0,0,0.7);
    background-image: url("images/food1.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: darken;
}




header {
    text-align: center;
}

img {
    width: 50%;
    height: 100%;
    margin-bottom: -50px;
    margin-top: -50px;
}

iframe {
    height:400px;
    width:1024px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
}

main {
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 80px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
}

footer span {
    font-size: 10px;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 125px;
    color: white;
    font-family: 'Birthstone',cursive;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-bottom: 50px;
}
    
a {
    font-size: 18px;
    color: white;
    font-family: Arial;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

nav a {
    text-decoration: none;
    font-size:medium;
    padding-left: 7px;
    padding-right: 7px;
    color:white;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: none;
}

nav a:hover{
    opacity: 70%;
}